@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 242, 242, 242;
}

body {
  background-color: rgb(var(--background-rgb));
}

.dark {
  --background-rgb: 17, 17, 17;
}
